
<div class="panel panel-default">
    <div class="panel-heading">
        Result
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>City</td>
                    <td>{{weatherConditions.name}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{weatherConditions.sys.country}}</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>{{weatherConditions.coord.lat}}</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>{{weatherConditions.coord.lon}}</td>
                </tr>
                <tr>
                    <td>Current weather</td>
                    <td>{{weatherConditions.main.temp}}</td>
                </tr>
                <tr>
                    <td>Wind Speed</td>
                    <td>{{weatherConditions.wind.speed}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
