<div class="panel panel-default">
    <div class="panel-heading">
        Result
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Field</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>City</td>
                    <td>Medellin</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>CO</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>6.25</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>89.3</td>
                </tr>
                <tr>
                    <td>Current weather</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Wind Speed</td>
                    <td>4.1</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>